<h1>Set Availability</h1>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <%= render 'form', availability: @availability %>
    </div>
</div>
        <%= link_to 'Back', availabilities_path %>